{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <div class="l-box">
            <h4 class="content-subhead">Listagem de Clientes</h4>
        </div>
    </div>
</div>
{% for cliente in clientes %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-2-5">
        <div class="l-box">
            <h5 class="content-subhead"><a href="{% url 'clientes:details' pk=cliente.pk %}" title="">{{ cliente.nome }}</a></h5>
        </div>
    </div>
    <div class="pure-u-1-5">
        <div class="l-box">
            <h5 class="content-subhead"><a href="" title="">{{ cliente.contato_nome }}</a></h5>
        </div>
    </div>
    <div class="pure-u-1-5">
        <div class="l-box">
            <h5 class="content-subhead"><a href="" title="">{{ cliente.telefone1 }}</a></h5>
        </div>
    </div>
    <div class="pure-u-1-5">
        <div class="l-box">
            <h5 class="content-subhead"><a href="" title="">{{ cliente.email }}</a></h5>
        </div>
    </div>
</div>
{% empty %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <div class="l-box">
            <p>Nenhum cliente cadastrado na plataforma</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}